
client/app/build/
client/app/schemas/
client/local.properties
client/.idea/
client/.gradle/
server/src/main/resources/application.properties
server/.idea
server/logs
server/target
server-go/.idea/workspace.xml
server-go/.idea/vcs.xml
server-go/.idea/modules.xml
server-go/.idea/server-go.iml
